<template name="reactiveOverlaysTemplate">
  <div id="reactiveOverlayTemplate">
    {{#if isVisible}}
      {{#if isConfirmModal }}
        <div id="overlayConfirmModal" style="{{getMainPanelLeft}}">
          {{> confirmModal }}
        </div>
      {{/if}}

      <div id="overlayMask" class="overlay-mask"></div>
      <div id="overlayImage" class="{{isImageVisible}} overlay-image">
          <img class="with-rounded-corners" src="{{imageSrc}}">
      </div>

    <div id="overlayTemplate"  class="{{isTemplateVisible}} overlay-template"></div>
    {{/if}}
  </div>
</template>
